<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	<system.net>
		<defaultProxy enabled="false" useDefaultCredentials="false">
			<proxy />
			<bypasslist />
			<module />
		</defaultProxy>
	</system.net>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<log4net>
		<!--定义输出到文本文件中-->
		<appender name="TxtAppender" type="log4net.Appender.RollingFileAppender">
			<file value="log"/>
			<appendToFile value="true"/>
			<rollingStyle value="Date"/>
			<datePattern value="_yyyyMMdd&quot;.txt&quot;" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="log_time:%date%nthread_id:[%thread]%nlog_level:%-5level%nlog_descripion:%message%n%exception%n---------------------------------------%n"/>
			</layout>
		</appender>
		<!--定义日志的输出媒介-->
		<root>
			<!--文本文件日志-->
			<appender-ref ref="TxtAppender" />
		</root>
	</log4net>
</configuration>